@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* đặt biến */
:root{
    --active-color: #1c47af;
    --background-color: #fde6e8;
    --text-color: #000;
    --border-color: #ccc;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    user-select: none;
}

/* layout 1200 */
.grid {
    width: 1200px;
    margin: 0 auto;
}

.app {
    width: auto;
    height: 100vh;
    background-color: var(--background-color);
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}


/* ---------------------------------------
--------------- HEADER -------------------
---------------------------------------*/

.header {
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    display:flex;
    align-items: center;
    z-index: 1;
}

.header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width: 220px;
}

.header-left__logo {
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-right__item {
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.header-right__item.active {
    color: var(--active-color);
    font-weight: 500;
}

.header-right__item.active::after {
    display: none;
}

.header-right__item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--active-color);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.header-right__item:hover::after {
    width: 100%;
    opacity: 1;
}

.header-right__item:hover {
    color: var(--active-color);
    cursor: pointer;
}


.header-right__search {
    margin-left: 20px;
}

.header-right__search-icon {
    font-size: 1.6rem;
    padding: 4px;
    color: #fff;
}

.header-right__search-icon:hover {
    color: var(--active-color);
    cursor: pointer;
}


/* ---------------------------------------
------------- END HEADER ----------------
---------------------------------------*/


/* --------------------------------------
--------------SEARCH BOX-----------------
----------------------------------------- */


.search-box {
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn ease 0.5s;
}

.search-box__close {
    font-size: 4rem;
    color: #ccc;
    margin-bottom: 60px;
}

.search-box__close:hover {
    cursor: pointer;
    color: #fff;
}

.search-box__form {
    position: relative;
}

.search-box__form-input {
    height: 40px;
    width: 700px;
    background-color: transparent;
    border-color: transparent transparent #ccc transparent;
    outline: none;
    color: #fff;
    font-size: 2.2rem;
    padding-left: 25%;
    text-transform: uppercase;
}

.search-box__form-label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.2rem;
    text-transform: uppercase;
    transform: translate(-50%,-50%);
    pointer-events: none;
    color: #fff;
    transition: all ease 0.3s;
    opacity: 0;
}

.search-box__form-input:focus +
.search-box__form-label, 
.search-box__form-input:not(:placeholder-shown) +
.search-box__form-label{
    display: inline-block;
    top: -10px;
    color: #ccc;
    opacity: 1;
}


/* --------------------------------------
------------SEARCH BOX END-------------
----------------------------------------- */




/* ---------------------------------------
--------------- FOOTER -------------------
---------------------------------------*/

.footer {
    background-color: #222;
}

.footer-content {
    display: flex;
    padding: 32px 0;
    gap: 32px;
}

.footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-left__logo {
    margin-bottom: 32px;
}

.footer-left__logo-img {

}

.footer-left__content {
    font-size: 1.6rem;
    text-align: center;
    color: #999;
    font-style: italic;
}

.footer-main {
    flex: 1;
}

.footer__title {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 8px;
    position: relative;
}

.footer__title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #ccc;
    right: 0;
    top: 0;
}

.footer-main__list {
    list-style: none;
}

.footer-main__item {
    font-size: 1.6rem;
    color: #c1c1c1;
    padding: 8px 0;
    border-bottom: 1px solid #fff;
}

.footer-main__item:hover {
    cursor: pointer;
}

.footer-right {
    flex: 1;
}


.footer__download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer__download-qr img{
    margin-top: 12px;
    width: 100px;
    margin-right: 16px;
}

.footer__download-icon {
    display: flex;
    flex-direction:column;
}

.footer__download-icon img{
    height:28px
}

.footer__download-icon__GGPlay {
    margin-bottom: 8px;
    cursor: pointer;
}

.footer__download-icon__Appstore {
    cursor: pointer;
}

.footer-copyright {
    text-align: center;
    background-color: #1b1b1b;
    font-size: 1.5rem;
    padding: 8px 0;
    color : #4a4a4a
}

.footer__more {
    margin-top: 40px;
}

.footer__social {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__social-item {
    font-size: 3.2rem;
    padding: 8px;
}

.footer__social-item__link {
    text-decoration: none;
    color: #000;
}

.footer__social-item__link:hover {
    color: #ccc;
}


/* ---------------------------------------
------------- END FOOTER ----------------
---------------------------------------*/