@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --gap: 12px;
}

.main {
    margin-top: var(--header-height);
    background-color: var(--background-color);
    font-family: 'Pacifico', cursive;
}

.main-top {
    padding: 20px;
}

.main-top__grid {
    text-align: center;
}

.main__title {
    
    margin: 0px 0 32px;
}

.main__title-main {
    font-size: 8rem;
    display: inline-block;
    font-weight: 500;
    font-style: italic;
}

.main__sub-title {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.main-top__content {

}

.main-top__content-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
}

.main-top__content-item {
    width: calc(25% - var(--gap));
    margin-left: var(--gap);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.main-top__content-item:hover {
    cursor: pointer;
}

.main-top__content-item:hover
.main-top__content-item__img img {
    transform: scale(1.1);
    filter: brightness(80%)
}

.main-top__content-item:hover
.main-top__content-item__hover,
.main-top__content-item:hover
.main-top__content-item__name {
    transform: scaleX(1);
}

.main-top__content-item__img {
    width: 100%;
    flex: 1;
    overflow: hidden;
    border-radius: 8px;
}

.main-top__content-item__img img {
    transition: all ease 0.3s;
    width: 100%;
    height: 100%;
}

.main-top__content-item__bottom {
    margin-top: auto;
    position: relative;
}

.main-top__content-item__name,
.main-top__content-item__hover {
    transform: scaleX(0);
    transform-origin: left;
}

.main-top__content-item__hover {
    position: absolute;
    border-radius: 8px;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, pink, rgb(100, 100, 248));
    transition: all linear 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
}

.main-top__content-item__hover i {
    font-size: 3.2rem;
    transform: rotate(35deg);
}

.main-top__content-item__name {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 12px 0;
    position: relative;
    z-index: 1;
    transition: all linear 0.25s;
}


/* -----------------------------------------
----------------- RANKING ------------------
-------------------------------------------- */

.main-rank {
    
}

.main-rank__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 52px;
}

.main-rank__list {
    display: flex;
    margin-left: calc(-1 * var(--gap));
    flex-wrap: wrap;
}

.main-rank__item {
    background-image: linear-gradient(to right top,#e7f0b3, #fc8884);
    position: relative;
    margin-left: var(--gap);
    width: calc(33% - var(--gap));
    border-radius: 20px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.main-rank__item:hover 
.main-rank__item-left {
    width: 112px;
    height: 112px;
}

.main-rank__item-left {
    background-image: linear-gradient(to right top, #ffaca9, #f5fcd0);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -5px -5px 5px transparent,
                5px 5px 5px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: all ease 0.25s;
}   

.main-rank__item-left__text {
    display: block;
    font-size: 8rem;
    line-height: 0;
    margin-top: -16px;
}

.main-rank__item-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-rank__item-right__img {
    width: 80%;
    position: relative;
}

.main-rank__item-right__img-icon {
    position: absolute;
    font-size: 6rem;
    left: -32px;
    top: -20px;
    transform: rotate(-30deg);
    color: var(--background-color);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.main-rank__item-right__img img{
    width: 100%;
    border-radius: 20px;
}

.main-rank__item-right-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-rank__item-right__name {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.8);
}

.main-rank__item-right__point {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.main-rank__item-right__point-icon {
    font-size: 4rem;
    margin-right: 8px;
    color: #f2364f;
}

/* ---------------------------------------
---------------- COMMENT -----------------
--------------------------------------- */

.main-comment {
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}

.main-comment__grid
.main__title {
    font-family: 'Pacifico', cursive;
}

.main-comment__content {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.main-comment__box {
    margin-top: 50px;
}

.main-comment__box-comment {
    display: flex;
    flex-direction: column;
}

.box-comment__name {
    flex: 2;
}

.box-comment__content {
    flex: 5;
}

.box-comment__name,
.box-comment__content {
    position: relative;
    height: 40px;
    width: 100%;
    background-color:transparent;
}

.box-comment__name-input,
.box-comment__content-input {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 0 32px;
    font-size: 1.7rem;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: #333;
}


.box-comment__name-label,
.box-comment__content-label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7rem;
    user-select: none;
    pointer-events: none;
    color: #333;;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    font-style: italic;
}

.box-comment__name-input:focus + 
.box-comment__name-label,
.box-comment__name-input:not(:placeholder-shown) +
.box-comment__name-label,
.box-comment__content-input:focus + 
.box-comment__content-label,
.box-comment__content-input:not(:placeholder-shown) +
.box-comment__content-label {
    top: -8px;
}

.box-comment__content {
    margin-top: 32px;
}

.box-comment__content-input {

}

.box-comment__content-label {

}

.box-comment__btn {
    margin-top: 8px;
    display: flex;
    align-self: flex-end;
    gap: 4px;
}

.box-comment__btn-submit,
.box-comment__btn-cancel {
    font-size: 1.4rem;
    font-weight: 550;
    text-transform: uppercase;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: #777;
}

.box-comment__btn-submit.active {
    background-color: #065fd4;
    color: #fff;
}

.box-comment__btn-submit.active:hover,
.box-comment__btn-cancel:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.box-comment__btn:hover {
    
}

.main-comment__commented {
    margin-top: 20px;
    padding: 20px;
}

.main-comment__commented-list {
    list-style: none;
    max-height: 500px;
    overflow: auto;
    margin-bottom: 20px;
}

.main-comment__commented-item {
    display: flex;
    align-items: flex-start;
}

.main-comment__commented-left {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.main-comment__commented-left img {
    border-radius: 50%;
}

.main-comment__commented-right {
    width: 100%;
}

.commented-right__top {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.commented-right__top-left {
    display: flex;
    align-items:center;
}


.commented-right__name {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 8px;
}

.commented-right__time {
    font-size: 1.4rem;
    font-style: italic;
}

.commented-right__top-right {

}

.comment-right__more {
    position: relative;
}

.comment-right__more i {
    font-size: 1.6rem;
    color: #333;
    padding: 4px 8px;
}

.comment-right__more:hover {
    color: #000;
}

.comment-right__more:hover 
.comment-right__more-list,
.comment-right__more:active 
.comment-right__more-list {
    display: block;
}

.comment-right__more-list {
    display: none;
    position: absolute;
    top: 90%;
    right: 0;
    list-style: none;
    background-color: #ddd;
    padding: 4px 0;
    border-radius: 4px;
    animation: fadeIn ease-in-out 0.5s;
}


.comment-right__more-list::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    background-color: transparent;
    top: -8px;
    left: 0;
}

.comment-right__more-list::after {
    position: absolute;
    content: "";
    border: 8px solid;
    border-color: transparent transparent #ddd transparent;
    top: -12px;
    right: 6px;
}


.comment-right__more-item {
    font-size: 1.6rem;
    padding: 4px 8px;
    min-width: 80px;
    text-align: center;
    font-weight: 500;
}

.comment-right__more-item:hover {
    background-color: #ccc;
    cursor: pointer;
}

.commented-right__content {
    margin-top: 4px;
    font-size: 1.6rem;
    margin-bottom: 24px;
}

.main-direction {
    padding: 12px;
}

.main-direction__grid {
    
}

.main-direction__content {
    font-size: 1.6rem;
    text-align: right;
}

.main-direction__content i {
    font-size: 2rem;
    transform: rotate(-30deg)
}




/* ----------------------------------------
--------------- PAGE SLIDER ---------------
------------------------------------------- */

.slider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: none;
    animation: fadeIn ease-in-out 0.5s;
    padding: 20px;
}

.page-slider__grid {
    position: relative;
    background: no-repeat center / cover;
    height:100%;
    filter: brightness(90%);
    transition: all ease-in-out 0.5s;
}

.page-slider__grid.active
.page-slider__main,
.page-slider__grid.active
.page-slider__prevBtn,
.page-slider__grid.active
.page-slider__nextBtn,
.page-slider__grid.active
.page-slider__reactBtn {
    display: none;
}

.page-slider__reactBtn {
    position: absolute;
    font-size: 3.2rem;
    color: #000;
    top: 8px;
    right: 8px;
    padding: 4px 8px;
    border-radius: 50%;
    text-shadow: 0 0 2px #ccc;
    transition: all ease-in-out 0.3s;
}

.page-slider__reactBtn.active {
    transform: scale(1.1);
    color: #fff;
    background: #f2364f;
}

.page-slider__reactBtn:hover {
    cursor: pointer;
}

.page-slider__prevBtn,
.page-slider__nextBtn {
    font-size: 4rem;
    background-color:#fff;
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 20px;
    border-radius: 50%;
    z-index: 1;
}

.page-slider__prevBtn:hover,
.page-slider__nextBtn:hover {
    cursor: pointer;
}

.page-slider__prevBtn {
    left: 0;
    transform: translateX(-50%);
}

.page-slider__prevBtn:hover {
    background-image: linear-gradient(to left,pink, blue);
}

.page-slider__nextBtn {
    right: 0;
    transform: translateX(50%);
}

.page-slider__nextBtn:hover {
    background-image: linear-gradient(to right,pink, blue);
}

.page-slider__main {
    position: absolute;
    bottom:0;
    padding: 16px;
    animation: fadeIn ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}


.page-slider__content {
    display: flex;
    gap: 20px;
}

.page-slider__content-title {
    font-size: 4.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 8px 16px;
    text-shadow: 0 0 4px #fff;
}

.page-slider__content-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page-slider__content-info {
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.5s;
}


.page-slider__content-info__text {
    background-color: var(--background-color);
    box-shadow:0 8px 8px 0 rgba(103, 151, 255, .11), 0 12px 18px 0 rgba(103, 151, 255, .11);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.8rem;
    font-style: italic;
    text-align: justify;
    align-items: center;
}

.page-slider__content-info__more {
    text-transform: uppercase;
    background-color: #ccc;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 500;
    margin: 0 8px;
    font-size: 1.1rem;
    display: none;
}

.page-slider__content-info__more:hover {
    cursor: pointer;
    background-color: #777777;
    color: #ccc;
}

.page-slider__content-right {
    flex: 1;
    align-self: flex-end;
}

.page-slider__content-sliders {
    list-style: none;
    display: flex;
    gap: 4px;
}

.page-slider__content-slider {
    width: 33%;
}

.page-slider__content-slider__img {
    width: 100%;
    height: 100%;
}


.page-slider__content-slider__img:hover {
    cursor: pointer;
    filter: brightness(90%);
    position: relative;
}

.page-slider__content-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--background-color);
    border-radius:4px;
    position: relative;
}

.page-slider__content-slider__img img.active {
    border: 2px solid var(--active-color);
}


/* ---------------------------------------
--------------- RESPONSIVE ---------------
------------------------------------------ */

@media only screen and (max-width: 1235px) {
    .slider {
        padding: 20px 40px;
    }

    .main-rank__list {
        justify-content: center;
    }
    
    .main-rank__item {
        width: calc(50% - var(--gap));
        margin-bottom: 24px;
    }

}

@media only screen and (max-width: 959px) {

    :root {
        --gap: 16px
    }

    .main-top__content-item {
        width: calc(33.33% - var(--gap));
    }

    .page-slider__content-info__more {
        display: none;
    }
}

@media only screen and (max-width: 739px) {

    :root {
        --gap: 24px
    }
    
    .main-top__content-item {
        width: calc(50% - var(--gap));
    }

    .main-rank__item {
        width: calc(100% - var(--gap));
    }

    .slider {
        padding: 20px 0;
    }

    .page-slider__grid {
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .page-slider__prevBtn,
    .page-slider__nextBtn {
        display: none;
    }

    .page-slider__content {
        flex-direction: column;
    }

    .page-slider__content-title {
        font-size: 3.2rem;
    }

    .page-slider__content-info__text {
        font-size: 1.6rem;
    }

    .page-slider__content-right {
        width: 50%;
        align-self: center;
    }

    .page-slider__content-slider__img img {
        width: 100%;
        height: 4px;
    }
}

@media only screen and (max-width: 579px) {

    :root {
        --gap: 0;
    }

    .box-comment__name-input,
    .box-comment__content-input {
        padding: 0 12px;
    }

    .box-comment__name-label,
    .box-comment__content-label {
        left: 4px;
    }
    
    .main-top__content-item {
        width: 100%;
    }

    .page-slider__main {
        width: 100%;
    }

    .page-slider__content {
        gap: 8px;
    }

    .page-slider__content-title {
        font-size: 2.8rem;
        margin-bottom: 0;
    }

    .page-slider__content-info { 
        background-color: var(--background-color);
        padding: 8px 0;
        height: 100%;
        border-radius: 4px;
        margin-left: 16px;
        text-align: center;
    }

    .page-slider__content-left {
        align-items: flex-start;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }

    .page-slider__content-info__text {
        font-size: 1.4rem;
        line-height: 1.4rem;
        box-shadow: none;
        display: none;
    }

    .page-slider__content-info__text.active {
        display: block;
    }

    .page-slider__content-info__more {
        display: block;
    }

    .page-slider__grid {
        height: 50%;
    }
}

@media only screen and (max-width: 479px) {
    html {
        font-size: 50%;
    }

    .main__title-main {
        font-size: 6rem;
    }

    .main__sub-title {
        font-size: 2rem;
    }

    .main-comment__commented {
        padding: 12px 4px;
    }

    .main-direction__content {
        text-align: center;
    }

    .page-slider__grid {
        height: 40%;
    }

    .page-slider__content-title {
        font-size: 1.8rem;
    }

    .page-slider__content-info__text {
        font-size: 1.2rem;
    }

    .page-slider__content-info__more {
        font-size: 1rem;
        margin: 0 6px;
    }

    .page-slider__content-info {
        padding: 4px 0;
    }
}