.main {
    background-color: var(--background-color);
    overflow-x: hidden;
    margin-top: var(--header-height);
}

.main-top{
    background-image: url(../img/banner-cat.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 100%;
    padding-top: 50%;
    position: relative;
}

.main-top__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.main-top__title {
    font-size: 8.4rem;
    letter-spacing: 4px;
}

.main-top__sub-title {
    font-size: 3.2rem;
    font-weight: 400;
}

/* -----------------------------------
------------ INTRODUCE --------------
------------------------------------- */

.main-introduce {
    transition: all ease-in-out 1.5s;
    transform: translateY(150px);
    opacity: 0;
}

.main-introduce.active {
    opacity: 1;
    transform: translateY(0);
}

.main-introduce__grid {
    display: flex;
    flex-direction: column;
    padding: 52px;
}

.main-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
}

.main-introduce__grid 
.main-title {
    text-align: left;
}

.main-introduce__content {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.main-introduce__content-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    letter-spacing: 1px;
    text-align: justify;
    font-style: italic;
}

.main-introduce__content-text-paragraph {
    width: 70%;
}

.main-introduce__content-text-paragraph span{
    font-weight: 500;
}

.main-introduce__content-img {
    flex: 1;
    border-radius: 4px;
    overflow: hidden;
}


.main-introduce__btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 20px;
    width: 100px;
    transition: all ease 0.2s;
}

.main-introduce__btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.main-introduce__btn-link {
    text-decoration: none;
    padding: 8px 20px;
    color: var(--text-color);
    border: 2px solid #000;
    border-radius: 20px;
}



/* --------------------------------
--------------- PET ---------------
----------------------------------- */

.main-pet {
    position: relative;
    background-color:#fff;
    padding: 40px;
}

.main-pet.active 
.main-pet__item {
    opacity: 1;
    transform: translateX(0);
}

.main-pet__grid {

}

.main-pet__list {
    list-style: none;
    margin-top: 40px;
}

.main-pet__item {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 0 0 4px #e3afbc;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 1.5s;
}

.main-pet__item:hover 
.main-pet__item-img,
.main-pet__item:hover
.main-pet__item-info-more {
    transform: scale(1.2);
}

.main-pet__item:nth-child(even) {
    flex-direction: row-reverse;
    background-image: linear-gradient(to left top, #e4a1b2, #edc7b7);
    opacity: 0;
    transform: translateX(-100%);
}

.main-pet__item:nth-child(odd) {
    background-image: linear-gradient(to right bottom, #e4a1b2, #edc7b7);
    opacity: 0;
    transform: translateX(100%);
}

.main-pet__item-img {
    width: 280px;
    transition: all ease-in-out 0.3s;
    margin: 12px 0;
}

.main-pet__item-img img {
    width: 100%;
}

.main-pet__item-info {
    width: 40%;
}

.main-pet__item-info-text {
    font-size: 1.6rem;
    position: relative;
    font-style: italic;
}

.main-pet__item-info-text::before {
    position: absolute;
    content: "\201C";
    font-size: 200%;
    top: -8px;
    left: -16px;
}

.main-pet__item-info-more,
.main-takecare__right-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100px;
    transition: all ease 0.3s
}

.main-pet__item-info-more:hover
.main-pet__item-info-more__link,
.main-takecare__right-more:hover
.main-takecare__right-more-link {
    background-color: rgba(0,0,0,0.8);
    color: #77a7ff;
    font-weight: 500;
}

.main-pet__item-info-more__link,
.main-takecare__right-more-link {
    text-decoration: none;
    color: var(--text-color);
    background-color: #ccc;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    line-height: 32px;
    text-align: center;
}



/* --------------------------------------
------------- TAKE CARE OF --------------
-------------------------------------- */

.main-takecare {
    transform: translateY(150px);
    opacity: 0;
    transition: all ease-in-out 1s;
    position: relative;
    z-index: 1;
}

.main-takecare.active {
    opacity: 1;
    transform: translateY(0)
}

.main-takecare__grid {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-takecare__left {
    flex: 1;
}

.main-takecare__left-img {

}

.main-takecare__right {
    flex: 1;
    padding: 52px 20px;
    padding-right: 10%;
    box-shadow: 8px 4px 12px #ffd2d5,
                4px 8px 12px #ffd2d5;
    border-radius: 4px;
    position: relative;
    text-align: center;
}

.main-takecare__right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-takecare__right-text {
    font-size: 1.6rem;
}

.main-takecare__right-more {
    
}

.main-takecare__right-more:hover
.main-takecare__right-more-link {
    transform: scale(1.1)
}

.main-takecare__right-more-link {
    text-decoration: none;
    color: #000;;
    transition: all ease 0.3s;
    background-color: #ccc;
}

.main-takecare__right-title {
    margin-top: 80px;
    font-size: 4rem;
    text-align: right;
}

.main-takecare__right-icon{
    position: absolute;
    font-size: 10rem;
    top: 30%;
    left: -8%;
    transform: translate(-50%, -50%);
    transform: rotate(-25deg);
    color: pink;
}


/* ---------------------------------
------------- PROMISE --------------
---------------------------------- */

.main-promise {
    background-color: #fff;
    transform: translateY(150px);
    opacity: 0;
    transition: all ease-in-out 1s;
}

.main-promise.active {
    transform: translateY(0);
    opacity: 1;
}

.main-promise__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}


.main-promise__text {
    font-size: 1.8rem;
    color: #595959;
    letter-spacing: 0.3px;
    line-height: 3.6rem;
    text-align: center;
}

.main-promise__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 80px;
}

.main-promise__item {
    width: 30%;
    text-align: center;
}

.main-promise__item-img {

}

.main-promise__item-content {
    margin-top: 40px;
}

.main-promise__item-content-title {
    font-size: 2rem;
    font-weight: 500;
}

.main-promise__item-content-text {
    margin-top: 12px;
    color: #707070;
    font-size: 1.6rem;
}

/* ---------------------------------
-------------- CONTACT -------------
------------------------------------ */

.main-contact {
    
}

.main-contact.active
.main-contact__main-left,
.main-contact.active
.main-contact__main-right,
.main-contact.active
.main-contact__btn {
    opacity: 1;
    transform: translateX(0)
}

.main-contact__grid {
    padding: 40px 20px;
}

.main-contact__main {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.main-contact__main-row1 {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 120px;
    margin-top: 40px;
}

.main-contact__main-left {
    transform: translateX(-200%);
    transition: all ease-in-out 1s;
    opacity: 0;
}

.main-contact__main-left__item {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 4px;
}

.main-contact__main-left__item-icon {
    font-size: 2rem;
    padding: 0 8px;
}

.main-contact__main-left__item-content {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.main-contact__main-right {
    flex: 2;
    transition: all ease-in-out 1s;
    transform: translateX(200%);
    opacity: 0;
}

.main-contact__main-right__row1 {
    display: flex;
    justify-content: space-between;
}

.main-contact__main-right__row1-input {
    width: 49%;
}

.main-contact__main-right__row1-input,
.main-contact__main-rightright__row2-input {
    height: 40px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.main-contact__main-right__row2 {
    margin-top: 4px;
    width: 100%;
}

.main-contact__main-rightright__row2-input {
    width: 100%;
}

.main-contact__submit {
    
}

.main-contact__btn {
    margin-left: auto;
    width: 68px;
    height: 32px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: all ease-in-out 1s;
    transform: translateX(100%);
    opacity: 0;
}

.main-contact__btn-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
}

.main-contact__btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

.main-contact__btn:hover
.main-contact__btn-link {
    color: #000;
}

/* -------------------------------
------------ MAP ----------------
------------------------------- */

.main-map {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50%;
    filter: brightness(80%);
    transition: all ease-in-out 1s;
}

/* --------------------------------------
-------------- RESPONSIVE ---------------
----------------------------------------- */

@media only screen and (max-width: 1200px) {
    .main-takecare {
        padding: 0 20px;
    }

    .main-introduce {
        opacity: 1;
        transform: translateY(0);
    }

    .main-takecare__right-text {
        width: 60%;
        text-align: right;
    }

    .main-takecare__right {
       padding: 20px 40px;
    }
}

@media only screen and (max-width: 960px) {
    .main-top__title {
        font-size: 4rem;
    }

    .main-top__sub-title {
        font-size: 2rem;
    }

    .main-introduce__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .main-introduce__content-text-paragraph {
        width: 100%;
    }

    .main-introduce__btn {
        margin: 40px auto 20px;
    }

    .main-pet__item {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .main-pet__item-img {
        border-radius: 8px;
        overflow: hidden;
        width: 70%;
    }

    .main-pet__item-info {
        margin: 20px auto 8px;
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .main-pet__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-pet__item {
        width: 70%;
        margin: 0 auto;
        padding: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-pet__grid {
        padding-bottom: 40px;
    }

    .main-takecare__grid {
        position: relative;
        height: 200px;
    }

    .main-takecare__left {
        display: none;
    }

    .main-takecare__right {
        position: absolute;
        background-color: var(--background-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;;
    }

    
}

@media only screen and (max-width: 739px) {
    .main-top__title {
        font-size: 3.2rem;
        letter-spacing: 2px;
    }

    .main-top__sub-title {
        font-size: 1.6rem;
    }

    .main-introduce__grid {
        padding: 40px;
    }

    .main-pet__item {
        width: 85%;
    }

    .main-takecare__right {
        min-width: 80%;
    }

    .main-promise__list {
        flex-direction: column;
        margin-top: 20px;
        justify-content:center;
        align-items:center
    }

    .main-promise__item {
        margin-top: 40px;
        width: 80%;
    }

    .main-contact__main {
        margin: 0 auto;
    }

    .main-contact__main-row1 {
        flex-direction: column;
        gap: 32px;
    }

    .main-contact__main-right__row1 {
        flex-direction: column;
        gap: 4px;
    }

    .main-contact__main-right__row1-input {
        width: 100%;
    }

    .main-contact__btn {
        width: 80%;
        margin: 8px auto;
    }

    .main-contact__main-right {
        width: 80%;
    }

}

@media only screen and (max-width: 480px) {
    html {
        font-size: 56%;
    }

    .main-introduce__grid {
        padding: 40px 20px;
    }

    .main-pet__item {
        width: 100%;
    }

    .main-takecare__right {
        position: relative;
        margin-top: 60px;
        width: 100%;
    }

    .main-takecare__right-text {
        width: 60%;
    }

    .main-promise__grid {
        padding: 80px 24px;
    }

    .main-promise__item {
        width: 80%;
        margin-top: 32px;
    }

    .main-promise__item-content {
        margin-top: 20px;
    }

    .main-contact__main-right {
        width: 100%;
    }

    .main-contact__btn {
        margin-top: 8px;
        width: 100%;
    }

    .main-top__content {
        display: none;
    }

    .main-pet__item:hover {
        cursor: pointer;
    }
}