* {
    --background-color-second: #fff;
    --text-title-color: #fff;
    --margin-content: 15%;
    --bg-title-color: rgb(16, 16, 143);
}

.loading {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 233, 213) url(../img/images_Dog/loading-dog.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    z-index: 9999;
}

.overload {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    animation: fadeIn ease 0.4s;
}

.App {
    width: auto;
    height: 100vh;
    background-color: var(--background-color-second);
}

.main {
    margin-top: var(--header-height);
    background-color: var(--background-color-second);
}

.main-advertise {
    text-align: center;
    /* background-color: var(--background-color); */
    background-image: url(../img/images-Game/Site-background-cat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 1rem;
}

.main-advertise h1 {
    font-size: 4rem;
    text-decoration: underline;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-menu-sub {
    padding-left: 50px;
    margin-bottom: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.menu-sub__list {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}

.menu-sub__member {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px 15px;
}

.main-content {
    margin-left: var(--margin-content);
    margin-right: var(--margin-content);
    margin-top: 1%;
}

.main-content-container {
    padding: 1%;
}

.main-title {
    margin-bottom: 2%;
}

.main-title h2 {
    text-transform: uppercase;
    color: var(--text-title-color);
    font-weight: normal;
    border-bottom: 3px solid var(--bg-title-color);
    padding-bottom: 6px;
}

.main-title span {
    background-color: var(--bg-title-color);
    padding: 4px 8px;
}

.main-news {
    
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-flex > div {
    width: 49.5%;
}

.wrap {
    position: relative;
    overflow: hidden;
}

.wrap img {
    transition-duration: 0.5s;
}

.wrap:hover img {
    transform: scale(110%);
}

.wrap:hover .wrap__label span{
    background-color: var(--bg-title-color);
}

.wrap-text {
    position: absolute;
    top: 0;
}

.wrap-text > .wrap__label {
    margin-left: 10px;
}

.wrap-text span, h3 {
    text-transform: uppercase;
}

.wrap__title {
    margin-bottom: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.418), transparent)
}

.wrap__label > span {
    padding: 5px;
    background:rgba(0, 0, 0, 0.7);
    color: var(--text-title-color);
}

.wrap__title > h3 {
    font-size: 2.4rem;
    color: var(--text-title-color);
    padding: 8px 8px 4px 8px;
}

.news-two .wrap__title > h3 {
    font-size: 1.2rem;
}

