.main {
    margin-top: var(--header-height);
    background-color: var(--background-color);
}

.main-item {
    background-color: darkgray;
    width: 30%;
    height: 400px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: auto;
}

.main-item__image {
    font-size: 3.2rem;
    text-align: center;
}

.main-item__content {
    font-size: 1.6rem;
    margin-left: 10px;
    
}

ul.main-item__content__list {
    list-style: none;
    font-weight: bold;
    font-style: italic;
}

.main-item__content__list__menber {
    font-weight: normal;
    font-style: normal;
}