:root {
    --header-color: #7FFF00;
    --menu-color: #D2691E;
    --background-color: #F0F8FF;
    --text-color: #696969;
    --content-color: #fff;
    --header-height: 200px;
    --nav-height: 34px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: var(--background-color);
}

    /* HEADER */
.header {
    color: var(--text-color);
}

.header-tab {
    min-height: 150px;
    padding: 8px 40px 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header-color);
    align-items: center;
    z-index: 2;
}

.header-tab-content {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-tab-content__logo img {
    width: 100%;
}

.header-tab-content__reponsive-icon {
    display: none;
    position: absolute;
    top: 36px;
    right: 20px;
}

.header-tab-content__reponsive-icon i {
    font-size: 3.2rem;
    color: #fff;
    padding: 4px 8px;
    transition-duration: 0.5s;
}

.header-tab-content__reponsive-icon i:active {
    color: black;
}

.hear-tab-content__search {
    display: flex;
    
}

.hear-tab-content__search-input {
    border: 2px solid black;
    border-right: 0;
    border-radius: 25px 0 0 25px;
    background-color: #fff;
}

.hear-tab-content__search-input > input {
    font-size: 1.6rem;
    outline: none;
    padding: 4px;
    margin: 8px;
    border-color: transparent;
    color: var(--text-color);
}

.hear-tab-content__search-icon {
    border: 2px solid black;
    padding: 5px;
    border-radius: 0 25px 25px 0;
    background-color: var(--menu-color);
}

.hear-tab-content__search-icon > i {
    font-size: 1.6rem;
    color: #fff !important;
    padding: 4px;
    margin: 8px;
    transition-duration: 0.5s;
}

.hear-tab-content__search-icon > i:hover {
    transform: scale(110%);
}

.hear-tab-content__search-icon > i:active {
    transform: scale(95%);
}

.header-tab-content__menu {
    background-color: var(--menu-color);
    border-radius: 20px 20px 0 0;
    margin-left: 15%;
    margin-right: 15%;
}

nav {
    padding: 10px 5px;
}

.header-tab-content__menu-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

.header-tab-content__menu-list__item {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 4px 8px;
    margin: 4px;
}

.header-tab-content__menu-list__item:last-child {
    display: none;
}

.header-tab-content__menu-list__item:last-child > input {
    border-color: transparent;
    outline: none;
    background-color: transparent;
}

.header-tab-content__menu-list__item i {
    color: #fff;
}

.header-tab-content__menu-list__item a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.header-tab-content__menu-list__item a:hover {
    background-color: #ccc;
    color: #DC143C;
}

    /* MAIN */
.main {
    margin-top: var(--header-height);
}

.main-content {
    font-size: 1.6rem;
    margin-left: 50px;
    margin-right: 50px;
}

.main-content-classify__pet-title {
    border-bottom: 4px solid var(--menu-color);
}

.main-content h3 {
    background-color: var(--menu-color);
    color: #fff;
    display: inline-block;
    padding: 8px 12px 0 12px;
    border-color: var(--menu-color);
    border-radius: 15px 15px 0 0;
}

.main-content-classify__pet-item {
    display: flex;
}

.main-content-classify__pet-item-member {
    flex: 1;
    width: 15%;
    margin: 2%;
    border: 2px solid black;
    border-radius: 4px 4px 0 0;
    background-color: var(--menu-color);
    color: var(--content-color);
}
    
.main-content-classify__pet-item-member__img {
    padding: 4px 4px 4px 4px;
    position: relative;
}

.main-content-classify__pet-item-member__img-around {
    font-size: 1.6rem;
    position: absolute;
    top: 4px;
    right: 0;
    background-color: var(--header-color);
    transition-duration: 0.5s;
}

.main-content-classify__pet-item-member__img-button {
    padding: 8px;
    cursor: pointer;
}

.main-content-classify__pet-item-member__img-around::after {
    position: absolute;
    top: 100%;
    right: 0;
    content: "";
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: var(--header-color) transparent transparent var(--header-color);
}



.main-content-classify__pet-item-member__img-button:hover {
    transform: scale(110%);
}

.main-content-classify__pet-item-member__img-button:active {
    transform: scale(90%);
}

.main-content-classify__pet-item-member__name {
    text-align: center;
}

.main-content-classify__pet-item-member__name > h4 {
    font-size: 2.4rem;
}

.main-content-classify__pet-item-member__name > h5 {
    font-size: 1.6rem;
    font-weight: lighter;
    color: black;
}

.main-content-classify__pet-item-member-price{
    font-size: 2rem;
    padding-top: 20px;
    padding-left: 10px;
}

.main-content-classify__pet-item-member-brand {
    font-style: italic;
    direction: rtl;
    padding-right: 10px;
}

    /* FOOTER */
.footer {
    margin-top: var(--header-height);
    background-color: var(--header-color);
    color: var(--text-color);
    
}

.footer-container {
    font-size: 1.6rem;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.footer-container-col {
    padding: 10px;
    flex: 1;
}

.footer-container-col__wrapper {
    
}

.footer-container-col__wrapper > h3, h5 {
    font-size: 2rem;
}

.footer-container-col__wrapper > h4 {
    font-size: 3.2rem;
    text-transform: uppercase;
}

.footer-container-col__wrapper > p > strong {
    color: red;
    padding: 10px 0;
}

.footer-container-col__wrapper > p > small {
    line-height: 10px;
    font-style: italic;
}

.footer-container-col__content-list {
    list-style: none;
}

.footer-container-col__content-list > li {
    padding: 10px 0;
}

.footer-container-col__content-list-item {
    border-bottom: 2px solid var(--text-color);
    cursor: pointer;
}

.footer-container-col__content-list-item:hover {
    color: var(--menu-color);
}

.footer-container-col__content-list-item:active {
    transform: scale(95%);
}

.footer-container-col__content__download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-container-col__content__download-qr {
    cursor: pointer;
}

.footer-container-col__content__download-qr img {
    margin-top: 12px;
    width: 100px;
    margin-right: 16px;
}

.footer-container-col__content__download-icon {
    display: flex;
    flex-direction: column;
}

.footer-container-col__content__download-icon__Ggplay {
    margin-bottom: 8px;
    cursor: pointer;
}

.footer-container-col__content__download-icon__Appstore {
    cursor: pointer;
}

.footer-container-col__content__download-icon__Ggplay img, 
.footer-container-col__content__download-icon__Appstore img {
    height: 28px;
}

.footer-container-col__content__social {
    
}

.footer-container-col__content__social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-container-col__content__social-list-item {
    font-size: 3.2rem;
    padding: 8px;
}

.footer-container-col__content__social-list-item i {
    color: black;
    cursor: pointer;
}

.footer-container-col__content__social-list-item i:hover {
    color: #fff;
}

.footer-container-col__content__social-list-item i:active {
    transform: scale(95%);
}

.footer-container-end {
    font-size:1.6rem;
    text-align: center;
    padding: 10px 0;
}

    /* Reponsive */
@media only screen and (max-width: 1220px) {
    
    .footer-container-col__wrapper > h4 {
        font-size: 2.8rem;
    }
}
@media only screen and (max-width: 1100px) {
    .hear-tab-content__search {
        display: none;
    }

    .header-tab-content__menu {
        display: none;
    }

    .header-tab-content__reponsive-icon {
        display: block;
    }

    .header-tab-content__menu.active {
        background-color: var(--header-color);
        border-radius: 0;
        width: 100%;
        margin: 0;
    }

    .header-tab-content__menu.active nav {
        
    }

    .header-tab-content__reponsive-icon i:active, 
    .header-tab-content__menu.active {
        display: block;
    }

    .header-tab-content__menu.active .header-tab-content__menu-list {
        flex-direction: column;
    }

    .header-tab-content__menu.active .header-tab-content__menu-list__item {
        border-bottom: 2px solid #fff;
    }

    .header-tab-content__menu-list__item:last-child {
        display: block;
    }

    .header-tab-content__menu.active .header-tab-content__menu-list a {
        border-radius: 0;
    }

    .header-tab-content__menu.active .header-tab-content__menu-list a:hover {
        background-color: transparent;
    }
    
    .footer-container-col__wrapper > h4 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 890px) {
    .footer {
        margin-top: var(--header-height);
    }

    .footer-container-col__wrapper > h4 {
        font-size: 1.6rem;
    }

    .footer-container-col__wrapper > h3, h5 {
        font-size: 1.2rem;
    }

    .footer-container {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 780px) {
    .header {
        max-width: 120px;
    }

    .footer-container-col.col3 {
        display: none;
    }
}

@media only screen and (max-width: 680px) {
    .header-tab-content__reponsive-icon {
        left: 0;
        top: 110px;
    }
}

@media only screen and (max-width: 500px) {
    .footer-container-col.col1 {
        display: none;
    }
}