.loading {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 233, 213) url(../img/images_Dog/loading-dog.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    z-index: 9999;
}

.overload {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    animation: fadeIn ease 0.4s;
}

.main {
    margin-top: var(--header-height);
    background-color: var(--background-color);
    padding: 0 5%;
}

.main-title {
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 3.2rem;
    font-style: italic;
    line-height: 100px;
    padding: 5%;
}

.main-title-text {
    flex: 2;
    flex-wrap: wrap;
    align-self: center;
}

.main-title-img {
    flex: 1;
    border: 4px solid black;
    background-color: rgb(117, 165, 214);
    border-radius: 4px;
}

.main-content {
    background-color: var(--background-color);
}

.main-content-title {
    font-size: 3.2rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.main-content-table {
    font-size: 2rem;
}

table {
    width: 90%;
    margin-left: 5%;
    border: 2px solid black;
    border-radius: 8px;
    
    background-image: url(../img/images_Decor/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

td {
    padding: 5px;
}

.main-content-table__1__text {
    padding: 5px;
    border: 1px dashed #ccc;
    border-radius: 16px;
    background: linear-gradient(to left, #cc00ff 31%, #ff6666 84%);
    display: inline-block;
    max-width: 60%;
}

.main-content-table__1__text.object4 {
    background: linear-gradient(to left, #66ff99 16%, #ffff99 80%);
}

table.main-content-table__1 tr:nth-last-child(1) {
    text-align: right;
}

table.main-content-table__2 {
    background-image: url(../img/images_Decor/img-2.jpg);
    text-align: right;
}

table.main-content-table__2 tr:nth-last-child(1), 
table.main-content-table__2 tr:nth-last-child(2) {
    text-align: left;
}

table.main-content-table__3 {
    background-image: url(../img/images_Decor/img-11.jpg);
}

table.main-content-table__3 tr:nth-last-child(1) {
    text-align: right;
}

.main-content-title-around-text {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

.main-content-title-around-text::before {
    content: "";
    font-size: 0;
    border-style: solid;
    border-color: transparent #FF4500 transparent transparent;
    border-width: 1.6rem;
    position: absolute;
    left: 0;
    transform: translateX(0%);
    transform: translateY(10%);
}

.main-content-title-around-text::after {
    content: "";
    font-size: 0;
    border-style: solid;
    border-color: transparent transparent transparent #FF4500;
    border-width: 1.6rem;
    position: absolute;
    right: 0;
    transform: translateX(0%);
    transform: translateY(10%);
}

.main-content-classify__design {
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
}

.main-content-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.main-content-item__container-style {
    padding-top: 30px;
    text-align: center;
}

.main-content-item__container-label {
    font-size: 2.8rem;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00BFFF;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-content-item__container-description {
    background-color: rgb(169, 169, 169, 0.3);
    padding: 10px;
    border-radius: 4px;
}

.main-content-item__container-description-text {
    font-size: 1.6rem;
}

.main-end-content {
    padding: 5%;
    display: flex;
    text-align: center;
}

.main-end-content__img {
    flex: 1;
}

.main-end-content__text {
    flex: 2;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
    align-self: center;
    line-height: 30px;
}

@media only screen and (max-width: 960px) {
    .main-title {
        line-height: 70px;
        font-size: 2.8rem;
    }

    .main-content-title {
        font-size: 2.8rem;
    }

    .main-content-item__container-label {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 660px) {
    .main-title {
        line-height: 50px;
        font-size: 2rem;
    }

    .main-content-title {
        font-size: 2rem;
    }

    .main-end-content__text {
        line-height: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .main-content-item {
        width: 60%;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .main-title {
        line-height: 30px;
        font-size: 1.6rem;
    }

    .main-content-title {
        font-size: 1.6rem;
    }

    .main-end-content {
        display: inline-block;
    }

    .main-end-content__text {
        line-height: 15px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 520px) {
    .main-content-item__container-label {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .main-content-table {
        font-size: 1.6rem;
    }

    .main-content-title-around-text {
        padding-left: 25px;
        padding-right: 25px;
    }

    .main-content-title-around-text::before {
        transform: translateY(-10%);
        border-width: 1.2rem;
    }
    
    .main-content-title-around-text::after {
        transform: translateY(-10%);
        border-width: 1.2rem;
    }
}

@media only screen and (max-width: 410px) {
    .main-content-item__container-label {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 370px) {
    .main-content-item__container-label {
        font-size: 1.6rem;
    }

    .main-content-title-around-text::before {
        border-style: none;
    }
    
    .main-content-title-around-text::after {
        border-style: none;
    }

    .main-content-title-around-text {
        font-style: italic;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 0;
    }
}

@media only screen and (max-width: 370px) {
    .main-content-item__container-label {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 330px) {
    .main-content-item__container-label {
        line-height: 20px;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        border-radius: none;
        box-shadow: none;
    }
}