.loading {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 233, 213) url(../img/images_Dog/loading-dog.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    z-index: 9999;
}

.overload {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    animation: fadeIn ease 0.4s;
}

.main {
    margin-top: var(--header-height);
    background-color: var(--background-color);
}

.main-title {
    padding: 12px 0;
    margin-left: 15px;
    margin-right: 15px;
    font-style: italic;
    line-height: 50px;
}

.main-title > h1 {
    direction: rtl;
    font-size: 4.8rem;
}

.main-title > h3 {
    text-align: center;
    font-size: 1.6rem;
}

.main-title > h3.main-title__report {
    line-height: normal;
}

.main-title > h4 {
    font-size: 1.6rem;
}

.main-body-table__icon {
    display: none;
}

.main-body-table__icon i {
    font-size: 4rem;
    color: black;
    cursor: pointer;
}

.main-classify__name {
    border: 3px;
    border-radius: 10px;
    box-shadow: 3px;
    background-color: white;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.main-classify__name > ul {
    font-size: 15px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.main-classify__name > ul > li {
    padding: 8px;
    min-width: 120px;
}

.main-classify__name > ul > li > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 4rem;
    padding: 0 8px;
    border-radius: 4px;
}

.main-classify__name > ul > li > a:hover {
    background-color: #ccc;
    color: white;
}

.main-classify__name > ul > li > a:active {
    background-color: lightskyblue;
    color: wheat;
}

.main-infor {
    display: flex;
    flex-wrap: wrap;
}

.main-item {
    background-color: darkgray;
    width: 29%;
    height: 500px;
    padding: 10px;
    margin: 1% 1% 1% 2%;
    border-radius: 10px;
    overflow: auto;
}

.main-item__image {
    font-size: 3.2rem;
    text-align: center;
    padding: 10px 10px 30px 10px;
}

.main-item__content {
    font-size: 1.6rem;
    margin-left: 10px;
}

ul.main-item__content__list {
    list-style: none;
    font-weight: bold;
    font-style: italic;
}

.main-item__content__list__menber {
    font-weight: normal;
    font-style: normal;
}

.main-item__content__list__menber__size {
    margin-left: 20px;
}

.main-end {
    display: flex;
    align-items: center;
}

.main-end > h4 {
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    flex: 2;
    text-align: center;
}

.main-end__image {
    flex: 1;
}

@media only screen and (max-width: 960px) {
    .main-title {
        text-align: center;
    }

    .main-title > h1 {
        padding-top: 30px;
        font-size: 3.2rem;
    }

    .main {
        position: relative;
        padding: 0 20px;
    }

    .main-body-table {
        position: fixed;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        transition-duration: 0.5s;
    }

    .main-body-table.active .main-body-table__icon,
    .main-body-table.active {
        transform: translate(0, -50%);
        transition-duration: 0.5s;
    }

    .main-body-table__icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        transition-duration: 1s;
    }

    .main-classify__name > ul {
        flex-direction: column;
    }

    .main-item {
        width: 42%;
        margin: 3%;
        height: 300px;
    }
}

@media only screen and (max-width: 580px) {
    .main-title {
        margin-left: 10px;
        margin-right: 10px;
        font-style: italic;
        line-height: 40px;
        text-align: center;
    }

    .main-title > h1 {
        font-size: 3.2rem;
    }
    
    .main-title > h3 {
        font-size: 1.4rem;
    }
    
    .main-title > h4 {
        font-size: 1.4rem;
    }

    .main-body-table__icon i {
        font-size: 6rem;
    }

    .main-item {
        width: 85%;
        margin: 5% 5% 5% 10%;
        height: 400px;
    }

    .main-end > h4 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 480px) {
    .main-title {
        line-height: normal;
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-title > h1 {
        padding-top: 20px;
    }

    .main-item {
        width: 80%;
        margin: 4% 4% 8% 8%;
        height: 350px;
    }
}

@media only screen and (max-width: 430px) {
    .main-title > h1 {
        font-size: 3rem;
    }
    
    .main-title > h3 {
        font-size: 1.2rem;
    }
    
    .main-title > h4 {
        font-size: 1.2rem;
    }

    .main-item {
        height: 300px;
    }

    .main-end > h4 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 390px) {
    .main-title {
        margin-left: 5px;
        margin-right: 5px;
    }

    .main-title > h1 {
        font-size: 2.5rem;
    }

    .main-body-table__icon i {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 370px) {
    .main-title {
        margin-left: 5px;
        margin-right: 5px;
    }

    .main-classify__name > ul > li > a {
        line-height: 3rem;
    }

    .main-item {
        height: 250px;
    }
}

@media only screen and (max-width: 280px) {
    .main-title > h1 {
        font-size: 2rem;
    }
    
    .main-title > h3 {
        font-size: 1rem;
    }
    
    .main-title > h4 {
        font-size: 1rem;
    }

    .main-item {
        height: 210px;
    }

    .main-end > h4 {
        font-size: 1rem;
    }
}