* {
    --background-color-third: #FAE29C;
    --text-title-color: #fff;
    --text-content-color: rgb(0, 0, 0);
    --margin-content: 15%;
    --bg-title-color: #003166;
    
}

img {
    width: 100%;
}

.app {
    background-image: url(../img/images-Game/Site-background-cat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
}

.main {
    margin-top: var(--header-height);
}

.main-advertise {
    text-align: center;
    padding-bottom: 1rem;
}

.main-advertise h1 {
    font-size: 4rem;
    text-decoration: underline;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-menu-sub {
    padding-left: 50px;
    margin-bottom: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--text-title-color);
}

.menu-sub__list {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}

.menu-sub__member {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px 15px;
}

.main-content {
    margin-left: var(--margin-content);
    margin-right: var(--margin-content);
    margin-top: 1%;
}

.main-content-container {
    padding: 1%;
}

.main-title {
    margin-bottom: 2%;
}

.main-title h2 {
    text-transform: uppercase;
    color: var(--text-title-color);
    font-weight: normal;
    border-bottom: 3px solid var(--bg-title-color);
    padding-bottom: 6px;
}

.main-title span {
    background-color: var(--bg-title-color);
    padding: 4px 8px;
}

.main-news {
    
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-flex > div {
    width: 49.5%;
}

.wrap {
    position: relative;
    overflow: hidden;
}

.wrap img {
    transition-duration: 0.5s;
}

.wrap:hover img {
    transform: scale(110%);
}

.wrap:hover .wrap__label span{
    background-color: var(--bg-title-color);
}

.wrap-text {
    position: absolute;
    top: 0;
}

.wrap-text > .wrap__label {
    margin-left: 10px;
}

.wrap-text span, h3 {
    text-transform: uppercase;
}

.wrap__title {
    margin-bottom: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.418), transparent)
}

.wrap__label > span {
    padding: 5px;
    background:rgba(0, 0, 0, 0.7);
    color: var(--text-title-color);
}

.wrap__title > h3 {
    font-size: 2.4rem;
    color: var(--text-title-color);
    padding: 8px 8px 4px 8px;
}

.news-two .wrap__title > h3 {
    font-size: 1.2rem;
}

.main-game.d-flex {
    align-items: flex-start;
}

.game-container {
    margin-bottom: 2%;
}

.game-container.d-flex {
    align-items: flex-start;
}

.game-image:hover {
    border-bottom: 2px solid darkred;
}

.game-content__title a {
    text-decoration: none;
    color: var(--text-content-color);
}

.game-content__title span {
    font-size: 2rem;
}

.game-content__title span:hover {
    color: var(--bg-title-color);
}

.game-content__description {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: lighter;
}

.game-container-right.d-flex {
    flex-direction: column;
    
}

.game-container-right.d-flex > div {
    width: 100%;
}

.anime-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.anime-flex > .anime-container__item-image {
    width: 20%;
}

.anime-container__item-wrapper {
    width: 80%;
}

.anime-container__item-wrapper-description {
    color: var(--text-title-color);
    padding: 2%;
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.274), transparent);
}

.anime-container__item-wrapper-description h4 {
    border-bottom: 2px dashed var(--text-title-color);
    font-size: 2rem;
    margin-bottom: 2%;
}

.anime-container__item-wrapper-description p {
    font-size: 1.6rem;
    font-weight: lighter;
}